$color-base: red;
$color-important: rgb(0, 60, 255);
$color-warning: yellow;

$border-radius: 0;

$font-primary: sans-serif;
$font-primary-weight: 400;

$font-secondary: sans-serif;
$font-secondary-weight: 700;

$box-shadow: 10px 5px 5px black;