$color-base: orange;
$color-important: rgb(0, 255, 242);
$color-warning: rgb(255, 0, 255);

$border-radius: 10px;


$font-primary: serif;
$font-primary-weight: 400;

$font-secondary: serif;
$font-secondary-weight: 700;

$box-shadow: 5px 15px 15px black;